body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    background-image: url('4big.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins' ;
    text-transform: uppercase;
}

.header-content {
    
    padding: 20px;
}

.header h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Poppins';
}

.info-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.info-button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

.about {
    background-color:#1e1e1e;
    padding: 20px;
    margin-bottom: 20px;
    color:white;
    font-family:'Poppins';
}

.events {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:white;
    font-family: 'Poppins';
}

.event {
    background-color:#1e1e1e;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    color:white;
    font-family: 'Poppins';
}

.event img {
    width: 100%;
    height: auto;
}

.event h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color:white;
    font-family: 'Poppins';
}

.event p {
    font-size: 1em;
    color: #555;
    font-family: 'Poppins';
}
.header p{
    color: red;
    font-family: 'Poppins';
}
